# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tfigmkhchtvuhtqeeciq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmaWdta2hjaHR2dWh0cWVlY2lxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MTAwMjAsImV4cCI6MjEwNDE4NjAyMH0.ey5sBcpedfFt55WQPHysRxsLSVpSDDNetfvu75L-TEA


SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmaWdta2hjaHR2dWh0cWVlY2lxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODYxMDAyMCwiZXhwIjoyMTA0MTg2MDIwfQ.2fOIdyybFBgoqxwv0uoj80x0P2MgVxfiAEu5SDL6eKg

